# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load CSV 
df = pd.read_csv ("../output_data/weather_status.csv")

df

,city,latitude,longitude,max_temp,humidity,cloudiness,windspeed,country,date
0,Saint George,37.10,-113.58,44.60,26,1,4.70,US,1609375304
1,Port Alfred,-33.59,26.89,70.00,92,72,1.99,ZA,1609375397
2,Saskylakh,71.92,114.08,-25.87,83,38,9.86,RU,1609375398
3,Mitú,1.20,-70.17,73.27,96,97,3.15,CO,1609375399
4,Chokurdakh,70.63,147.92,-30.89,85,29,5.03,RU,1609375400
...,...,...,...,...,...,...,...,...,...
560,Port Hueneme,34.15,-119.20,59.00,67,1,6.93,US,1609376113
561,Caucaia,-3.74,-38.65,81.00,83,75,10.29,BR,1609376114
562,Mahon,39.89,4.27,50.00,61,0,6.93,ES,1609376115
563,Ploufragan,48.49,-2.79,43.00,11,78,8.14,FR,1609376116
564,Mastic Beach,40.77,-72.85,45.00,70,1,14.99,US,1609376117

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
df['humidity'].max()

100

In [5]:
# Store 'Lat' and 'Lng' into  locations 
locations = df[["latitude", "longitude"]]

df

# Create a poverty Heatmap layer
fig = gmaps.figure(center=[0,0], zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=df['humidity'], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

* Weather conditions:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [6]:
ideal_weather = df.loc[(df['max_temp'] >= 70) & (df['max_temp'] < 80) & (df['windspeed'] < 10) & (df['cloudiness'] < 10)]

ideal_weather

,city,latitude,longitude,max_temp,humidity,cloudiness,windspeed,country,date
83,Vallenar,-28.57,-70.76,71.17,45,0,4.83,CL,1609375504
114,Panama City,8.99,-79.52,78.80,88,0,6.93,PA,1609375322
130,Alenquer,-1.94,-54.74,77.00,94,0,1.12,BR,1609375560
210,Linhares,-19.39,-40.07,71.08,94,0,3.44,BR,1609375669
216,Beloha,-25.17,45.05,74.16,64,0,8.79,MG,1609375676
236,Ambilobe,-13.20,49.05,71.37,93,0,1.90,MG,1609375701
255,Maragogi,-9.01,-35.22,77.13,84,4,8.77,BR,1609375725
256,San Juan,-31.54,-68.54,78.94,18,0,9.86,AR,1609375727
261,Sarh,9.14,18.39,73.40,49,0,6.93,TD,1609375733
304,Conceição da Barra,-18.59,-39.73,75.83,82,0,7.61,BR,1609375556
357,Birao,10.28,22.79,71.29,31,0,5.95,CF,1609375858
394,Young,-32.68,-57.63,70.00,46,0,4.00,UY,1609375901
449,Vavoua,7.38,-6.48,71.62,33,0,3.58,CI,1609375971
502,Dabola,10.75,-11.12,71.19,32,0,0.92,GN,1609376042
516,Makkah al Mukarramah,21.43,39.83,74.50,74,0,3.69,SA,1609376060
518,Manta,-0.95,-80.73,75.20,78,0,6.93,EC,1609376062
519,Basoko,1.24,23.62,71.62,90,8,2.13,CD,1609376063
525,Cabedelo,-6.98,-34.83,77.00,88,0,8.05,BR,1609375892
529,Bathsheba,13.22,-59.52,77.00,83,0,5.82,BB,1609376024
554,Dourados,-22.22,-54.81,74.35,82,8,2.17,BR,1609376106

### Hotel Map

In [7]:
# Copy weather criteria dataframe 'ideal_weather' to use
hotel_df = ideal_weather

# New Column Name
hotel_name = ""

# Add a "Hotel Name" column to the DataFrame
hotel_df['hotel_name'] = hotel_name

hotel_df

<ipython-input-7-7aa7a7f2b7ac>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['hotel_name'] = hotel_name

,city,latitude,longitude,max_temp,humidity,cloudiness,windspeed,country,date,hotel_name
83,Vallenar,-28.57,-70.76,71.17,45,0,4.83,CL,1609375504,
114,Panama City,8.99,-79.52,78.80,88,0,6.93,PA,1609375322,
130,Alenquer,-1.94,-54.74,77.00,94,0,1.12,BR,1609375560,
210,Linhares,-19.39,-40.07,71.08,94,0,3.44,BR,1609375669,
216,Beloha,-25.17,45.05,74.16,64,0,8.79,MG,1609375676,
236,Ambilobe,-13.20,49.05,71.37,93,0,1.90,MG,1609375701,
255,Maragogi,-9.01,-35.22,77.13,84,4,8.77,BR,1609375725,
256,San Juan,-31.54,-68.54,78.94,18,0,9.86,AR,1609375727,
261,Sarh,9.14,18.39,73.40,49,0,6.93,TD,1609375733,
304,Conceição da Barra,-18.59,-39.73,75.83,82,0,7.61,BR,1609375556,
357,Birao,10.28,22.79,71.29,31,0,5.95,CF,1609375858,
394,Young,-32.68,-57.63,70.00,46,0,4.00,UY,1609375901,
449,Vavoua,7.38,-6.48,71.62,33,0,3.58,CI,1609375971,
502,Dabola,10.75,-11.12,71.19,32,0,0.92,GN,1609376042,
516,Makkah al Mukarramah,21.43,39.83,74.50,74,0,3.69,SA,1609376060,
518,Manta,-0.95,-80.73,75.20,78,0,6.93,EC,1609376062,
519,Basoko,1.24,23.62,71.62,90,8,2.13,CD,1609376063,
525,Cabedelo,-6.98,-34.83,77.00,88,0,8.05,BR,1609375892,
529,Bathsheba,13.22,-59.52,77.00,83,0,5.82,BB,1609376024,
554,Dourados,-22.22,-54.81,74.35,82,8,2.17,BR,1609376106,

#### Set parameters to search for hotels with 5000 meters. Hit the Google Places API for each city's coordinates.

In [10]:
for index, row in hotel_df.iterrows():
    this_city= row['city']
    this_country = row['country']
    
    target_city = this_city + ', ' + this_country

    # Get lat/long coordinates for each city
    params = {"address": target_city, "key": g_key}

    # Build URL using the Google Maps API
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    # Run request
    response = requests.get(base_url, params=params)

    # Convert to JSON
    nyc_geo = response.json()

    # Extract lat/lng
    lat = nyc_geo["results"][0]["geometry"]["location"]["lat"]
    lng = nyc_geo["results"][0]["geometry"]["location"]["lng"]

    # Find closest hotels
    target_type = "hotel"
    city_coords = f'{lat}, {lng}' 
    radius = 5000

    # Rewrite params dict

    params = {
        "location": city_coords, 
        "radius": 5000,
        "types": "hotel",
        "keyword": "hotel",
        "key": g_key
    }

    # Build URL using the Google Maps API
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Run request
    city_hotels = requests.get(base_url, params=params)

    city_hotels = city_hotels.json()

    # Incorporate a try-except to skip any rows that are missing a data point to avoid KeyErrors.
    try:
        hotel_df.loc[index, "hotel_name"] = city_hotels["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

/Users/alisonsadel/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

#### Store the first hotel result into the DataFrame.

In [9]:
# Save Data to csv
hotel_df.to_csv("weather_status.csv")

# Visualize to confirm airport data appears
hotel_df.head(10)

,city,latitude,longitude,max_temp,humidity,cloudiness,windspeed,country,date,hotel_name
83,Vallenar,-28.57,-70.76,71.17,45,0,4.83,CL,1609375504,Hotel Cecil
114,Panama City,8.99,-79.52,78.80,88,0,6.93,PA,1609375322,Hilton Garden Inn Panama
130,Alenquer,-1.94,-54.74,77.00,94,0,1.12,BR,1609375560,Detinha Hotel
210,Linhares,-19.39,-40.07,71.08,94,0,3.44,BR,1609375669,Hotel Virginia
216,Beloha,-25.17,45.05,74.16,64,0,8.79,MG,1609375676,
236,Ambilobe,-13.20,49.05,71.37,93,0,1.90,MG,1609375701,Hotel National
255,Maragogi,-9.01,-35.22,77.13,84,4,8.77,BR,1609375725,Pousada Camurim Grande
256,San Juan,-31.54,-68.54,78.94,18,0,9.86,AR,1609375727,Hotel Viñas del Sol
261,Sarh,9.14,18.39,73.40,49,0,6.93,TD,1609375733,Hotel Ruby Foo's
304,Conceição da Barra,-18.59,-39.73,75.83,82,0,7.61,BR,1609375556,

#### Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))